<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

    <form method="POST" action="/team">
<%# 
<form action="/greet" method="POST">
  <label for="user_name">Name:</label>
 
  <p><input type="text" name="user_name" id="user_name" /></p>
 
  <input type="submit" value="Submit"/>
</form> %>

<h1>Create a Basketball Team!</h1>

<p>
    <label for="Team_Name">Team Name</label>
    <input type="text" name="name" id="name">
</p>
<p>
    <label for="Coach">Coach</label>
    <input type="text" name="coach" id="coach">
</p>
<p>
    <label for="Point Guard">Point Guard</label>
    <input type="text" name="pg" id="pg">
</p>
<p>
    <label for="Shooting Guard">Shooting Guard</label>
    <input type="text" name="sg" id="sg">
</p>
<p>
    <label for="Small Forward">Small Forward</label>
    <input type="text" name="sf" id="sf">
</p>
<p>
    <label for="Power Forward">Power Forward</label>
    <input type="text" name="pf" id="pf">
</p>
<p>
    <label for="Center">Center</label>
    <input type="text" name="c" id="c">
</p>
<p>

      <button type="submit" id="Submit" value="Submit">Submit</button>
</p>
    </form>

 </body>
</html>


